@import "tailwindcss";

:root {
  --background: #f4f1e8;
  --foreground: #171717;
  --design: #e46a63;
  --research: #79a47b;
  --develop: #6587e8;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input[type="range"] {
  accent-color: #171717;
}

@keyframes riverBreath {
  0%,
  100% {
    transform: translateY(0) scaleY(1);
  }

  50% {
    transform: translateY(1px) scaleY(1.08);
  }
}

@keyframes greenPulse {
  0%,
  100% {
    transform: scale(1);
    transform-origin: center;
  }

  50% {
    transform: scale(1.07);
    transform-origin: center;
  }
}

@keyframes cityPulse {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(1px, -1px, 0);
  }
}

@keyframes borderLight {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.city-block {
  position: relative;
  overflow: hidden;
  isolation: isolate;
}

.city-block::before {
  content: "";
  position: absolute;
  inset: -2px;
  background: conic-gradient(
    from 0deg,
    transparent 0deg,
    transparent 300deg,
    rgba(32, 65, 229) 315deg,
    rgb(188, 73, 73) 330deg,
    rgba(35, 178, 85) 345deg,
    transparent 360deg
  );

  animation: borderLight 4s linear infinite;
  z-index: -1;
}

.city-block::after {
  content: "";
  position: absolute;
  inset: 1px;
  background: #1e1e1e;
  z-index: -1;
}

@keyframes borderSweep {
  0% {
    clip-path: inset(0 100% 0 0);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  50% {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    clip-path: inset(0 0 0 100%);
    opacity: 0;
  }
}
